body {
    background-color: #F5F7FA;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  h1 {
    color: #2979FF;
  }
  .dashboard {
    margin-top: 30px;
  }
  .dashboard-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .angle-list {
    list-style-type: none;
    padding: 0;
  }
  .angle-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #E0E4E7;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
  }
  .angle-list-item .angle-name {
    font-weight: bold;
  }
  .back-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #2979FF;
    color: white;
    cursor: pointer;
    
  }
  .posture-button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #2979FF;
    color: white;
    cursor: pointer;
    
  }