
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Karla', sans-serif;
   background-color: #274C77;
}

.wrapper{
width: 100vw;
height: 100 vh;
position: fixed;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.modalForm, .switchSignLog{
width: 66%;
max-width: 450px;
border-radius: 10px;
display: flex;
align-items: center;
flex-direction: column;
}

.modalForm{
height: 525px;
background-color: #F0F7EE;
}

.actionBtns{
width: 65%;
background-color: #279AF1;
margin: 1em;
display: flex;
justify-content: space-between;
position: relative;
border-radius: 50px;
}

.actionBtn{
padding: 1em;
width: 50%;
outline: none;
border: none;
border-radius: 50px;
background-color: transparent;
color: white;
font-size: 1.1em;
font-weight: 700;
cursor: pointer;
}

.moveBtn{
position: absolute;
width: 50%;
height: 90%;
margin: 3px;
border: none;
outline: none;
border-radius: 50px;
background-color: white;
font-size: 1.1em;
font-weight: 700;
box-shadow: rgba(0,0,0,0.1) 0 4px 12px;
transform: translateX(96%);
/* transition: all 0.2s ease-in-out */
}

h1{
margin: 4em 0 10px;
font-size: 1.2em;
font-weight: 700;
text-align: center;
}

.caption{
margin-bottom: 2.5em;
text-align: center;
}

.inputGroup{
margin: 0.8em 0;
background-color: transparent;
border-radius: 10px;
}

.inputGroup input{
width: 83%;
padding: .7em 1.5em;
background-color: #F9F9F9;
border: 0.1em solid gray;
border-radius: 10px;
font-size: 1em;  
}

.inputGroup input:focus{
outline: none;
}

.submitBtn{
width: 64%;
padding: 0.8em;
margin: 2em 3.1em 1em;
border-radius: 15px;
border: none;
outline: none;
background-color: #3898EC;
border: 0.1em solid #3898EC;
color: white;
cursor: pointer;
font-size: 1.1em;
font-weight: 700;
}

.submitBtn:hover{
background-color: white;
color: black;
}

.switch-cta{
margin-top: 1em;
margin-bottom: 2em;
text-align: center;
}

.cta-text{
text-decoration: none;
color: black;
}

